<h3>Angular 2x - Project Setting Template</h3>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Setting Template</h3>
			</div>
			<div class="panel-body">
				<form action="" method="POST" role="form">
					<div class="form-group">
						<label for="">Template</label>
						<select (change) = "changeTemplate($event)" name="theme" id="inputTheme" class="form-control" required="required">
							<option value="blue">Blue</option>
							<option value="black">Black</option>
							<option value="white">White</option>
							<option value="custom">Custom</option>
						</select>
					</div>
					
					<div class="row" *ngIf="templateCurrent ==='custom'"	>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label for="">Background Color</label>
								<input type="color" class="form-control"  (change) = "changeBackgroundColor($event)">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label for="">Text Color</label>
								<input type="color" class="form-control" value="#ffffff" (change) = "textColor = $event.target.value">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Your Theme</h3>
			</div>
			<div class="panel-body">
				<form action="" method="POST" role="form">
					<div class="form-group">
						<label for="">Your Text</label>
						<textarea value = "{{ textDemo }}" (input) ="textDemo = $event.target.value" class="form-control" rows="3" required="required"></textarea>
					</div>
				</form>

				<p *ngIf="templateCurrent !=='custom'" class="result {{ templateCurrent}}">{{ textDemo }}</p>

				<p class="result"
					*ngIf="templateCurrent ==='custom'" 
					[ngStyle] = "setStyles()"
				>{{ textDemo }}</p>
			</div>
		</div>
	</div>
</div>