<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Angular 2 - Project 09: Http</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li [routerLinkActive]="'active'"><a [routerLink]="['/study-http']">Study HTTP</a></li>
				<li [routerLinkActive]="'active'"><a [routerLink]="['/github']">Github</a></li>
				<li [routerLinkActive]="'active'"><a [routerLink]="['/spotify']">Spotify</a></li>
				<li [routerLinkActive]="'active'"><a [routerLink]="['/course-form']">Course CRUD</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<router-outlet></router-outlet>
	</div>
</div>

