<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Study HTTP</h3>
	</div>
	<div class="panel-body">
		<span class="label label-danger">{{ errorMessage }}</span>
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="10%">#</th>
					<th width="20%">ID</th>
					<th width="30%">Name</th>
					<th width="40%">Description</th>
				</tr>
			</thead>
			<tbody>
				<template [ngIf]="courses.length > 0">
					<tr *ngFor="let item of courses; let i = index">
						<td>{{ i + 1 }}</td>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.description }}</td>
					</tr>
				</template>
				<template [ngIf]="courses.length == 0">
					<tr>
						<td colspan="4">... updating ...</td>
					</tr>
				</template>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<div class="btn-group">
							<button (click)="getItems()" type="button" class="btn btn-warning">Get All Items</button>
							<button (click)="getItem(2)" type="button" class="btn btn-primary">Get (2)</button>
							<button (click)="addItem()" type="button" class="btn btn-primary">Add</button>
							<button (click)="editItem(3)" type="button" class="btn btn-info">Edit (3)</button>
							<button (click)="deleteItem(1)" type="button" class="btn btn-danger">Delete (1)</button>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="panel-footer">
		{{ course | json }}
	</div>
</div>

	
